* {
	margin: 0;
	padding: 0;
}

body {
	
	font-family: 'Lato', sans-serif;
	
	a {
		color: #88b8c4;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
	}
	
	#graph_0 {
		margin-top: 60px;
		
		& > div {
			margin-top: -40px;
		}
		
	}
	
}